* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  // Add any other body styles as needed
}
.layout-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
  background-image: url("../images/bg.png"); // Replace with the path to your image
  background-size: cover; // Cover the entire container
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Do not repeat the background image
  color: #ffffff; // Set text color for better readability
  align-items: center;
}
.app-wrapper {
  border-radius: 5px;
  width: 98%;
  margin: 0 auto;
  background-color: #fdfdfd;
  box-shadow: 2.86px 3.81px 3.81px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
}

.header {
  width: 100%;
  margin: auto;
  padding: 10px;
  color: #50799e;
  font-size: 30.013px;
  font-style: normal;
  font-weight: 500;
  .default-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .header-input {
    border-radius: 31.5px;
    border: 2px solid #50799e;
    background: #fff;
    height: 45px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: rgba(105, 141, 169, 0.37);
    margin: 0px 10px;
  }
  .overridebtn {
    height: 45px;
    border-radius: 28px;
    background: #1aa5c0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 60%;
  }
  .trasparent-button {
    border-radius: 31.5px;
    border: 2px solid #50799e;
    background: transparent;
    width: 120px;
    height: 45px;
    flex-shrink: 0;
    font-size: 18.303px;
    font-style: normal;
    font-weight: 500;
    color: #50799e;
    span {
      margin-right: 5px;
    }
  }
}
.login-container {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.login-box {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 3.36px 24.35px rgba(56, 156, 163, 0.38);
  // padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: #50799e;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    padding-top: 20px;
  }
  .form-container {
    width: 90%;
    padding: 20px;
  }
}

h1 {
  color: #389ca3;
}
.custom-input {
  height: 45px;
  background-color: #fff;
  border: 1px solid #adbfcf;
  width: 100%;
  border-radius: 7px;
  padding: 10px 15px;
  margin: 10px 0px;
  font-size: 16px;
  color: #1aa5c0;
  font-style: thin;
  font-weight: 400;
}

.custom-button {
  border-radius: 5.878px;
  background: linear-gradient(109deg, #20a8d3 5.8%, #01d1ff 122.34%);
  box-shadow: 0px 3.359px 3.359px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 60px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  span {
    margin-right: 10px;
  }
}
.divider-component {
  height: 2px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #d7d7d7;
}

.form-wrapper {
  padding: 15px;
  margin: 10px;
}

.table-wrapper {
  border-radius: 10.218px;
  border: 2px solid #50799e;
  background: rgba(249, 249, 249, 0.27);
  padding: 15px;
  margin: 10px;
  .rdt_TableHead {
    color: #1aa5c0;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12.879px; /* 64.955% */
  }
  .rdt_TableRow {
    color: #50799e;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12.879px;
  }
}
.patients{
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-end;
  span {
    margin:0px 10px
  }
}

.button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: red;
  margin: auto;
  margin-top: 30px;
  .btn-w {
    width: 20%;
  }
  .gray{
    background: #E5E5E5 !important;
  }
}

.calendar{
  color: #50799E;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  span {
    margin: 0px 10px;
  }
}